<ng-progress></ng-progress>
<header>
  <div class="logo"><img src="https://www.kinaracapital.com/wp-content/uploads/2019/04/logo.png" alt="Kinaracapital">
  </div>
</header>
<div class="body">
  <div *ngIf="!showCustomer">
    <div class="title">PAY LOAN EMI</div>
    <div class="form-holder">
      <form>
        <div class="row">
          <label for="loan">Enter Loan Account Number</label>
          <input id="loan" name="loan" [(ngModel)]="userInput.loanId" type="text">
        </div>
        <div class="row">
          <label for="loanacc">Re-enter Loan Account Number</label>
          <input id="loanacc" name="loanacc" [(ngModel)]="userInput.loanIdCC" type="text">
        </div>
        <div class="row">
          <label for="catpcha">Enter security code</label>
          <div class="catpcha-holder">
            <div>
              <img class="" style="border:1px solid #ccc; width: 160px; height: 50px;" [src]="captchaImg">
              <a [hidden]="apiInProgrss" (click)="refreshCaptcha()" class="refresh-link">
                <img class="refreshImage" src="/assets/refresh.svg">
              </a>
            </div>
            <div><input id="catpcha" name="catpcha" [(ngModel)]="userInput.catpcha" type="number">
            </div>
            <div *ngIf="userInput.form1Error" class="alert">
              {{userInput.form1Error}}
            </div>

          </div>
        </div>
        <div class="row" style="clear: both;float: none;">
          <div style="text-align: center" class="button-holder">
            <button (click)="getLoanDetails()">PROCEED</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="showCustomer">
    <div class="title title-center">LOAN DETAILS</div>
    <div class="form-holder">
      <form>
        <div class="row">
          <div class="row-left">Business Name:</div>
          <div class="row-right">{{userDetails.businessName}}</div>
        </div>
        <div class="row">
          <div class="row-left">Applicant Name:</div>
          <div class="row-right">{{userDetails.customerName}}</div>
        </div>
        <div class="row">
          <div class="row-left">Phone No.:</div>
          <div class="row-right">{{userDetails.customer1Phone1}}</div>
        </div>
        <div class="row">
          <div class="row-left">Amount Due:</div>
          <div class="row-right">Rs. {{userDetails.amountDue}}</div>
        </div>
        <div class="row">
          <div class="row-left"><label for="fullamount" style="padding-right: 0">Pay
              Rs.{{userDetails.amountDue}}:</label></div>
          <div class="row-right">
            <span class="radio-holder"><input type="radio" name="amountRt" [(ngModel)]="userDetails.amountType"
                value="full" id="fullamount" (change)="userDetails.formError=''"></span>
          </div>
        </div>

        <div class="row">
          <div class="row-left"><label for="oth" style="padding-right: 0">Other Amount:</label></div>
          <div class="row-right">
            <span class="radio-holder"><input type="radio" name="amountRt" [(ngModel)]="userDetails.amountType"
                value="others" id="oth" (change)="userDetails.formError=''"></span>
          </div>
        </div>

        <div class="row" *ngIf="userDetails.amountType ==='others'">
          <div class="row-left" style="vertical-align: middle;">Enter Amount in Rs.:</div>
          <div class="row-right">
            <input name="amountPay" [(ngModel)]="userDetails.amountPay" type="number"
              (keypress)="userDetails.formError=''">
          </div>
        </div>
        <div style="float: left;width: 100%;text-align: center;">
          <div *ngIf="userDetails.formError" class="alert">
            {{userDetails.formError}}
          </div>
        </div>
        <div class="row" style="clear: both;float: none;">
          <div style="text-align: center;">
            <button (click)="proceedPay()">PROCEED</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div style="display: none">
    <form method="POST" action="https://api.razorpay.com/v1/checkout/embedded" id="razorpay">
      <input type="hidden" name="key_id" value="rzp_live_7tOmn9jxIj18W6">
      <input type="hidden" name="order_id" value="{{userDetails.orderId}}">
      <input type="hidden" name="name" value="Kinara capital">
      <input type="hidden" name="prefill[email]" value="{{userDetails.email}}">
      <input type="hidden" name="description" value="{{userDetails.description}}">
      <input type="hidden" name="image" value="https://www.kinaracapital.com/wp-content/uploads/2019/04/logo.png">
      <input type="hidden" name="prefill[name]" value="{{userDetails.customerName}}">
      <input type="hidden" name="prefill[contact]" value="{{userDetails.phoneNo}}">
      <input type="hidden" name="notes[loanAccountNumber]" value="{{userDetails.loanAccountNumber}}">
      <input type="hidden" name="callback_url"
        value="https://emiuat.kinaracapital.com/kinara/kinaracapital/{{userDetails.orderId}}/success">
      <input type="hidden" name="cancel_url"
        value="https://emiuat.kinaracapital.com/kinara/kinaracapital/{{userDetails.orderId}}/failure">
      <button>Submit</button>
    </form>
  </div>
</div>
<!-- <div class="footer" *ngIf="!showCustomer">All fields marked with <span class="artricx">*</span> are mandatory</div> -->
