* {
    box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
f
input[type=number] {
    -moz-appearance: textfield;
}

.logo img {
    text-align: left;
    width: 150px;
    font-family: Arial, sans-serif, Arial;
}

.body {
    font-size: 15px;
    color: #717171;
    font-family: Arial, sans-serif, Arial;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.body .title {
    color: rgba(184, 4, 4, 1);
    font-size: 25px;
    text-align: left;
    margin-left: 300px;
    margin-bottom: 40px;
}

.body .title-center {
    text-align: center;
    margin-left: 0;
}

.body input {
    width: 400px;
    height: 50px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid rgb(212, 215, 217);
    font-size: 15px;
}

.artricx {
    color: rgb(171, 8, 0);
}

.row {
    margin-bottom: 20px;
    float: right;
    /* width: 100%; */
}

.row label {
    padding-right: 15px;
}

.row .catpcha-holder {
    width: 400px;
    /* margin-right: 0; */
    display: inline-block;
}

.row .catpcha-holder div {
    margin-bottom: 15px;
}

button {
    background: rgb(189, 4, 4);
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    height: 50px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
}

.row-left {
    color: rgb(113, 113, 113);
    width: 300px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
    vertical-align: top;
}

.row-right {
    color: #000;
    width: 400px;
    display: inline-block;
}

.radio-holder {
    display: block;
    width: 200px;
    margin-bottom: 20px;
}

.body span input[type="radio"] {
    display: inline;
    width: auto;
    height: auto;
}

.alert {
    display: inline-block;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.button-holder {
    padding-left: 50px;
}

.footer {
    text-align: right;
    font-size: 15px;
    color: #717171;
    font-family: Arial, sans-serif, Arial;
    margin-top: 50px;
}

.refresh-link {
    vertical-align: top;
    padding-top: 9px;
    display: inline-block;
}

#catpcha::-webkit-input-placeholder,
#loan::-webkit-input-placeholder,
#loanacc::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 12px;
}

#catpcha::-moz-placeholder,
#loan::-moz-placeholder,
#loanacc::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 12px;
}

#catpcha:-ms-input-placeholder,
#loan:-ms-input-placeholder,
#loanacc:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 12px;
}

#catpcha:-moz-placeholder,
#loan:-moz-placeholder,
#loanacc:-moz-placeholder {
    /* Firefox 18- */
    font-size: 12px;
}

@media screen and (max-width: 700px) {
    header {
        margin-bottom: 30px;
    }

    .body {
        width: 100%;
    }

    .body .title {
        margin-left: 0;
    }

    .form-holder .row {
        float: none;
    }

    .form-holder .row .row-left,
    .form-holder .row .row-right,
    .form-holder .row .catpcha-holder {
        width: 100%;
        display: block;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
    }

    .form-holder .row .catpcha-holder {
        padding-left: 0;
        padding-right: 0;
    }

    .body .row input {
        width: 100%;
    }

    .button-holder {
        padding-left: 0;
    }

    .footer {
        text-align: center
    }
}

.refreshImage {
    width: 30px;
    cursor: pointer;
    margin-left: 10px;
}